-- Deploy [% project %]:[% change %] to [% engine %]

set lock_timeout to '50ms';
set statement_timeout to '50ms';

begin;

    select [% new_column_name %]
    from [% schema %].[% table_name %]
    limit 1;

commit;
